footer.footer(role='contentinfo')
	.footer-links
		ul
			li
				h3 Адрес
			li
				a(href='javascript:void(0)') About
			li
				a(href='javascript:void(0)') Contact
			li
				a(href='javascript:void(0)') Products
		ul
			li
				h3 График
			li
				a(href='javascript:void(0)') Facebook
			li
				a(href='javascript:void(0)') Twitter
			li
				a(href='javascript:void(0)') YouTube
		ul
			li
				h3 Контакты
			li
				a(href='javascript:void(0)') 8 (778) 800 7171
	hr
	p
		a(href="http://web-aqua.kz/", target="_blank") Разработано компанией Web-aqua
