#header
  .pattern
    .section
      a#logo(href='/')
        img(src='/images/logo.png')
      .content
        h1 Заголовок и вступительный текст
        p Продукция под торговой маркой«IZAR» имеет отличное качество и самые низкие цены на Казахстанском рынке. Несколько наименований нашей продукции не имеют аналогов в РК. 
        p Продукция под торговой маркой«IZAR» сертифицирована и имеет высокие экологические показатели.
